<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>지도 생성하기</title>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7fba4b29e99f63689b2e4d190c478841"></script>
</head>
<body>
<!-- 지도를 표시할 div 입니다 -->
<div id="map" style="width: 100%; height: 350px"></div>

<script>
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };

      // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      // 키워드로 장소를 검색합니다
      ps.keywordSearch('이태원 맛집', placesSearchCB);

      // 키워드 검색 완료 시 호출되는 콜백함수 입니다
      function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
          console.log(data);
        }
      }
    </script>
</body>
</html>
